/* primary selection */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f2f2;
}
.container {
  margin-top: 50px;
}

/* header area */
.header-area {
  display: flex;
  justify-content: center;
}
.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-title {
  padding: 50px;
  width: 50%;
  /* background-color: yellow; */
}
.search-bar {
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 50%;
  /* background-color: aqua; */
}

.search-bar a {
  text-decoration: none;
  color: black;
}

/* main section  */
.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* journey section */

.journey {
  display: flex;
  align-items: center;
  width: 100%;
}
.journey-blogs {
  padding: 50px;
  width: 50%;
  /* background-color: green; */
}
.journey-blogs h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

.journey-blogs p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
}
.journey-camera {
  /* background-color: aqua; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

.journey-camera img {
  width: 440px;
  height: 414px;
  border: 4px solid #f7f0ff;
  border-radius: 50%;
}

/* brand-area */
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
}
.brand-items {
  padding: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.brand-items img {
  width: 99.12px;
  height: 39.61px;
}

/* collection-area  */
.collection-area {
  /* border: 10px solid black; */
  /* overflow: scroll; */
}
.collection-title {
  text-align: center;
  margin-bottom: 40px;
}
.collections {
  /* width: 329px; */
  /* height: 476px; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
  align-content: center;
  /* row-gap: 30px;
  column-gap: 30px; */
  margin-left: 196px;
  margin-right: 196px;
}
.collection {
  width: 329px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
  margin: 30px;
}
.collection img {
  width: 300px;
  /* height: 256px; */
}
.collection h2 {
  width: 151px;
  left: calc(50% - 151px / 2 - 434.5px);
  top: 40.05%;
  bottom: 58.74%;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
}
.collection h3 {
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
}
.collection-ratings {
  margin-top: 10px;
}
.collection-ratings i {
  color: #fb8200;
}

.collection-ratings span {
  margin-left: 7px;
}

.collection-info {
  margin-top: 15px;
  height: 61px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #787885;
}
.short-sections {
  text-align: right;
  margin-right: 345px;
}

/* feature-area */
.feature-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-left: 196px;
  margin-right: 196px;
  /* background-color: red; */
  /* border: 10px solid black; */
}

.feature-image img {
  width: 404px;
  height: 270px;
}

.feature-info {
  width: 610px;
  height: 224px;
}
